name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      TEST_MONGO_URI: ${{secrets.TEST_MONGO_URI}}
    steps:
      - uses: actions/checkout@v3 # Checkouts the project source code from Git
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm run install:all
      - name: build
        run: npm run build:client
      - name: test
        run: npm run test:all
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run test:e2e
          start: npm run start:test
          wait-on: http://localhost:3003
          record: true
          parallel: true
