name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    env:
      SKIP_PREFLIGHT_CHECK: true
      MONGO_URI: ${{ secrets.MONGO_URI }}
      TEST_MONGO_URI: ${{secrets.TEST_MONGO_URI}}
      PORT: ${{secrets.PORT}}
      SECRET: ${{secrets.SECRET}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Install wait-on
        run: npm install -g wait-on
      - name: Build client module
        run: npm run build
      - name: test
        run: npm run test:all
      - name: Install Cypress
        run: npx cypress install
      - name: e2e tests
        run: |
          npm run start:test &
          wait-on http://localhost:3003
          npm run start:client &
          wait-on http://localhost:3000
          npm run test:e2e
        env:
          CYPRESS_CACHE_FOLDER: ${{ runner.workspace }}/cache/Cypress
